<p style="color: green"><%= notice %></p>

<% content_for :title, "Flowers" %>

<h1>Flowers <% content_for :smth, "sdfgf" %></h1>

<div id="flowers">
  <% @flowers.each do |flower| %>
    <%= render flower %>
    <p>
      <%= link_to "Show this flower", flower %>
    </p>
  <% end %>
</div>

<%= link_to "New flower", new_flower_path %>
