<!--<p style="color: green"><%#= notice %></p>-->

<% content_for :title, "Flowers" %>

<h1 class="text-4xl">Our Flowers</h1>

<div id="flowers" style="display: grid; grid-template-columns: repeat( auto-fit, minmax(300px, 1fr)); grid-gap: 20px; align-items: stretch;">
  <% @flowers.each do |flower| %>
    <% if flower.stock != 0 %>
    <%= render partial: flower, :locals => {:show_in_main => true} %>
      <% end %>
  <% end %>
</div>

<!--<br/>-->
<%# if user_signed_in? %>
<!--  <p>Welcome, <%#= current_user.first_name %> <%#= current_user.last_name %>!</p>-->
  <%#= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<!--  <br/>-->
<!--  <br/>-->
<!--  <br/>-->

<%# else %>
    <%#= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
<!--  <br/>-->
<!--  <br/>-->
<!--  <br/>-->
    <%#= link_to 'Log In', new_user_session_path, class: 'btn btn-success' %>
<!--  <br/>-->

<%# end %>

<!--<br/>-->

